<body>
<h2>
  Manage Rooms
</h2>

<ul class="list-group">
      <li class="list-group-item"><%= link_to "Add room", "#" , method: "get" %></li>
      <li class="list-group-item"><%= link_to "View rooms", rooms_url, method: "get" %></li>
      <li class="list-group-item"><%= link_to "Edit room", "#" , method: "get" %></li>
      <li class="list-group-item"><%= link_to "Book room", "#" , method: "get" %></li>
      <li class="list-group-item"><%= link_to "Delete room", "#" , method: "get" %></li>

</ul>
</body>