<p id="notice"><%= notice %></p>

<h1> the relation information about bookings</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Bookday</th>
      <th>Date</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@bookings.each do |booking| %>
      <tr>
        <td><%= booking.room_id %></td>
        <td><%= booking.bookday %></td>
        <td><%= booking.date %></td>
        <td><%= booking.starttime %></td>
        <td><%= booking.endtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h1>the information you need to input to book room</h1>

<%= form_for @newbooking do|f| %>

    <div class="field">
      <%= f.label :room_id %>
      <%= f.text_field :room_id %>
    </div>

    <!--the information we need to judge the user is normal user or admin
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    -->

    <div class="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>

    <div class="field">
      <%= f.label :starttime %>
      <%= f.text_field :starttime %>
    </div>

    <div class="field">
      <%= f.label :endtime %>
      <%= f.text_field :endtime %>
    </div>

    <div class="actions">
      <%= f.submit%>
    </div>
<% end %>