<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Library Booking App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% if login_status?%>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Login", login_path, method: "get" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
</header>